@font-face {
   font-family: 'Source Code Pro';
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   src: url('fontz/SourceCodePro-Regular.ttf.woff2') format('woff2'),
        url('fontz/SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face {
   font-family: 'Source Code Pro';
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   src: url('fontz/SourceCodePro-It.ttf.woff2') format('woff2'),
        url('fontz/SourceCodePro-It.otf.woff') format('woff');
}

progress,sub,sup{vertical-align:baseline}button,hr,input{overflow:visible}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0} [hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

body {
   font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica","Arial",sans-serif;
   text-rendering: optimizeLegibility;
   position: relative;
   margin: 20px auto;
   background: #FAFAFA;
   color: #333;
   max-width: 1200px;
}

section {
   vertical-align: top;
   max-width: 550px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   padding-right: 20px;
   line-height: 1.3em;
   font-size: 14px;
   margin-bottom: 80px;
}

h1 {
   font-size: 20px;
   color: #333;
   display: inline-block;
}

h2 {
   font-size: 17px;
   position: relative;
   color: #333;
   text-decoration: none;
}

a h2 {
   display: inline-block;
}

a:focus h2, a:hover h2 {
   color: #0027FF;
   outline: none;
}

a h2::before {
   content: '#';
   color: #0027FF;
   padding-right: 6px;
}

li {
   margin: 10px 0;
}

a {
   color: #0027FF;
   text-decoration: underline;
   cursor: pointer;
   position: relative;
   outline: none;
   font-weight: 600;
}

.title-link {
   display: block;
}

.js-run {
   padding: 10px 4px;
   margin-left: 18px;
}

.js-run::before {
   content: '→';
   display: inline;
   text-decoration: none;
   position: absolute;
   color: #333;
   font-weight: 600;
   font-size: 16px;
   right: 100%;
   top: 9px;
}

pre, i {
   font: 13px/1.2em 'Source Code Pro', monospace;
   background: linear-gradient(to right, #F4F3F3, rgba(241, 240, 240, 0) 80%);
   padding: 10px 20px;
   color: #4D4D4D;
   border-radius: 8px;
   border-left: 4px solid #D9DEFA;
}

ul {
   padding-left: 40px;

}

#contents {
   background: #F4F3F3;
   padding: 10px 20px 10px 40px;
   border-radius: 8px;
   list-style: initial;
}

#contents li::before {
   content: none;
}

.inline {
   display: inline-block;
   vertical-align: middle;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
}

pre.inline, .inline pre, i {
   padding: 2px 6px;
   background: #F4F3F3;
   border: none;
}

.nowrap {
   white-space: nowrap;
}

.output strong:first-child {
   margin-top: 0;
}

.fig-col {
   width: 237px;
   display: inline-block;
   vertical-align: middle;
   margin-top: 0;
   margin-right: 20px;
}

.fig-col figure {
   margin-left: 0;
}

figure {
   width: 237px;
   height: 158px;
   background: white;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);
   display: inline-block;
   vertical-align: middle;
   position: relative;
   margin: 1em 20px 1em 0;
}

img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

strong {
   display: block;
   margin-top: 14px;
   margin-bottom: 14px;
   color: #7A7C7D;
}

li a {
   color: #7A7C7D;
   text-decoration: none;
   font-weight: 600;
}
