@font-face {
   font-family: 'Source Code Pro';
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   src: url('fontz/SourceCodePro-Regular.ttf.woff2') format('woff2'),
        url('fontz/SourceCodePro-Regular.otf.woff') format('woff');
}

@font-face {
   font-family: 'Source Code Pro';
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   src: url('fontz/SourceCodePro-It.ttf.woff2') format('woff2'),
        url('fontz/SourceCodePro-It.otf.woff') format('woff');
}

progress,sub,sup{vertical-align:baseline}button,hr,input{overflow:visible}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0} [hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

body {
   font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica","Arial",sans-serif;
   text-rendering: optimizeLegibility;
   display: flex;
   position: relative;
   margin: 0 auto;
   background: #FAFAFA;
   color: #333;
}

section {
   vertical-align: top;
   max-width: 550px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 30px;
   padding-right: 60px;
   line-height: 1.3em;
   font-size: 14px;
}

h1 {
   font-size: 20px;
   font-weight: 400;
   font-style: italic;
   color: #333;
   display: inline-block;
}

h2 {
   font-size: 17px;
   font-weight: 500;
   position: relative;
   color: #333;
   text-decoration: none;
}

a h2 {
   display: inline-block;
}

a:focus h2, a:hover h2 {
   color: #0027FF;
   outline: none;
}

li {
   margin: 10px 0;
}

a {
   color: #0027FF;
   text-decoration: underline;
   cursor: pointer;
   position: relative;
   outline: none;
   font-weight: 500;
}

.title-link {
   display: inline-block;
   padding-top: 60px;
   margin-right: 20px;
}

iframe {
   vertical-align: text-bottom;
}

.button {
   display: inline-block;
   padding: 10px 18px;
   border-radius: 8px;
   background: #2f4efe;
   color: white;
   vertical-align: middle;
   text-decoration: none;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.nowrap .button {
   margin-bottom: -6px;
   margin-left: -15px;
}

pre {
   margin: 0;
}

figure.highlight, i {
   font: 13px/1.2em 'Source Code Pro', monospace;
   background: white;
   border-radius: 15px;
}

figure.highlight {
   display: block;
   width: auto;
   height: auto;
   padding: 10px 20px;
   margin: 14px 0;
}

.separate-code {
   border: none;
   border-bottom: 2px solid #dadada;
}

ul {
   padding-left: 40px;
}

#contents {
   padding: 0 20px 0 40px;
   border-radius: 8px;
}

.inline {
   display: inline-block;
   vertical-align: middle;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
}

.inline figure.highlight {
   display: inline-block;
   margin: 0;
}

.nowrap {
   white-space: nowrap;
   line-height: 15px;
}

.nowrap figure.highlight, .nowrap .button {
   height: 15px;
}

.output strong:first-child {
   margin-top: 0;
}

.fig-col {
   width: 237px;
   display: inline-block;
   vertical-align: middle;
   margin-top: 0;
   margin-right: 20px;
}

.fig-col figure {
   margin-left: 0;
}

figure, i {
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
}

figure {
   width: 237px;
   height: 158px;
   background: white;
   display: inline-block;
   vertical-align: middle;
   position: relative;
   margin: 1em 20px 1em 0;
}

img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

figcaption {
   position: absolute;
   right: 0;
   bottom: 0;
   opacity: 0;
   pointer-events: none;
}

img + figcaption {
   opacity: .7;
   pointer-events: all;
}

figcaption a {
   background: white;
   padding: 2px 4px;
   color: #333;
   font-weight: 300;
   text-decoration: none;
   display: block;
   position: relative;
   font-size: 11px;
}

figcaption a:hover {
   color: #0027FF;
}

strong {
   display: block;
   margin-top: 14px;
   margin-bottom: 14px;
   color: #7A7C7D;
}

em {
   vertical-align: middle;
}

li a {
   color: #7A7C7D;
   text-decoration: none;
   font-weight: 600;
}

.left {
   padding-bottom: 60px;
   flex-shrink: 0;
   width: 60%;
   min-width: 540px;
}

.right {
   margin-top: 20vh;
   width: 100%;
   position: fixed;
   will-change: transform;
   transform: translateY(0);
   left: 60%;
}

.right .button {
   margin-left: 15px;
   margin-bottom: -6px;
}

.right .highlight span {
   background: currentColor;
   opacity: .2;
}

.right section, .modal section {
   max-width: none;
   padding: 0;
}

.right figure, .modal figure {
   display: inline-block;
   padding: 30px;
   margin: 0;
   cursor: pointer;
}

.right pre, .modal pre {
   border: none;
   background: none;
   font-size: 13px;
   margin: 0;
   line-height: 1.5em;
   padding: 0;
}

body::before {
   content: '';
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: inherit;
   opacity: 0;
   pointer-events: none;
   transition: .5s opacity;
}

body.modal-on {
   overflow: hidden;
   cursor: pointer;
}

body.modal-on::before {
   opacity: .95;
   pointer-events: all;
}

body.modal-on .modal {
   transform: initial;
   opacity: 1;
   overflow: scroll;
   pointer-events: all;
}

body.modal-on .right {
   will-change: initial;
}

.modal {
   z-index: 2;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 30px;
   padding-right: 0;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   pointer-events: none;
   transform: translateY(120px);
   opacity: 0;
   transition: .3s transform, .3s opacity;
}

.modal section {
   text-align: center;
}

.modal figure {
   text-align: left;
   margin-right: 30px;
   cursor: auto;
}

@media (max-width: 850px) {
   .title-link {
      display: block;
   }

   h1 {
      font-size: 18px;
   }

   section {
      padding-right: 30px;
   }

   .left {
      width: 100%;
      min-width: 0;
   }

   .right {
      display: none;
      will-change: initial;
      transform: none;
   }
}

.highlight { background-color: #ffffcc }
.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #93A1A1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93A1A1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #586E75  } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
